*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  font-family:Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper{
  display:flex;
  width:100%; 
  justify-content: center;
}

.card{
  background-color: white;
  border-radius: 20px;
  margin:40px;
  overflow: hidden;
  display: flex;
  flex-direction:column;
  cursor: pointer;
}

.card_header{
  text-align: center;
  padding:20px;
}

.card_header p{
  margin-bottom: 0px;
}

.period{
  font-size: 1rem;
}

.card_title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  opacity: .5;
  /* font-weight: bold; */
}

.card_price {
  font-size: 3rem;
  margin: 0;
}

hr{
  margin: 0px 30px 0px 30px;
}

.card_description ul li{
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list_checked::before{
  content: '✓';
  font-weight: bold;
  margin-right: 10px;
}

.card_description .text-muted::before{
  content: '⨯';
  font-weight: bold;
  margin-right: 10px;
  opacity: 0.7;
}

ul{
list-style-type: none;
}

.card_description .text-muted{
  opacity: 0.7;
}

.card_footer{
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}

.card_btn{
  background-color: #007bff;
  color:white;
  width: 80%;
  font-size: 80%;
  border-radius: 5rem;
  border: 0px solid white;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

@media (max-width: 1250px) {

  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    min-width: 400px;
    max-width: 500px;
  }

  .card:hover .card_btn {
    opacity: 1;
  }
}

@media (min-width: 1250px) {

  .card{
    width:22%;
    min-width:360px;
  }

  .card:hover {
    margin-top: 20px;
    margin-bottom: 60px;
    transition: all 0.4s;
  }

  .card:hover .card_btn {
    opacity: 1;
  }
}